<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- Bootstrap -->
    <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">


    <!-- Styles -->
    <link href="{%static 'css/gestion.css'%}" rel="stylesheet">
</head>
<body>
<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-lower">Gestión de Pedidos</span>
</h1>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'Home' %}">Gestión de
            Pedidos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item {% if request.path == '/' %} active {% endif %} px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'Home' %}">Inicio</a>
                </li>
                <li class="nav-item {% if request.path == '/services/' %} active {% endif %} px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'Services' %}">Servicios</a>
                </li>
                <li class="nav-item {% if request.path == '/store/' %} active {% endif %} px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'Store' %}">Tienda</a>
                </li>
                <li class="nav-item {% if request.path == '/contact/' %} active {% endif %} px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'Contact' %}">Contacto</a>
                </li>
                <li class="nav-item {% if request.path == '/blog/' %} active {% endif %} px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'Blog' %}">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}

{% endblock %}

<!-- Footer -->
<footer class="footer text-faded text-center py-5">
    <div class="container">
        <p class="m-0">
            <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
            </a>
            <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
            </a>
            <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
            </a>
        </p>
        <p class="m-0 mbt">
            <a href="sample.html" class="link">Política de privacidad</a> ·
            <a href="sample.html" class="link">Aviso legal</a> ·
            <a href="sample.html" class="link">Cookies</a>
        </p>
        <p class="m-0 mbt1">&copy; Gestión de Pedidos 2020</p>
    </div>
</footer>

<!-- Bootstrap -->
<script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
